/* 공통사항 */
@import url('https://fonts.googleapis.com/css?family=Karma&display=swap');
body, h1, h2, h3, h4, h5, h6 {font-family: 'Karma', serif;}
.wrap {width: 100%; max-width: 1180px; margin: 0 auto;}

/* tops */
.tops {font-size: 24px;}
.tops > div {padding: 16px;}
.tops > .navi {float: left; cursor: pointer;}
.tops > .navi:hover {background-color: #ccc;}
.tops > .mail {float: right;}
.tops > .logo {text-align: center;}

/* foods */
.foods {margin-top: 50px;}
.food {width: 24%; margin: 0 0.5%; float: left; text-align: center;}
	.food-tit {font-size: 24px; margin: 12px 0 16px 0; color: black;}